* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: $font_h1_h2;
  color: $color_h1_h2;
}

p {
  font-family: $font_p;
}

a {
  font-family: $font_p;
  font-size: 17px;
  color: black;
}
