.projets {
  height: 100vh;
  background-color: $color_background1;

  .projets_top {
    @include flex-box(row, space-between, center);
    padding: 1em;
  }

  // .slideshow {
  //   img {
  //     width: 10vw;
  //   }
  // }

  .link_homepage {
    position: absolute;
    bottom: 1em;
    right: 1em;
    color: $color_accessoire;
  }
}
