.the_resto {
  background-color: $color_background1;

  h1 {
    text-align: center;
    padding: 1em;
    margin-bottom: 4em;
  }

  .container {
    width: 100%;
    @include flex-box(column, center, center);

    .container_left {
      width: 50%;
      img {
        width: 20vw;
      }
    }

    .container_right {
    }
  }
}
